.editor-layout-container {
  margin: 100px 50px;
}

.editor-layout-col {
  margin: 15px;
  height: 500px;
}

.editor-view-container {
background-color: lightgray;
}

.editor-options-container {
  background-color: white;
}

.image-options-row {
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.image-options-row:hover {
  background-color: lightgrey;
}

.textbox-row {
  padding: 10px;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
}

.textbox-row.active{
  background-color: gray;
}

.textbox-row:hover {
  background-color: lightgrey;
}

.image{
  width: '10%';
  height: undefined;
}