.editor-layout-container {
  margin: 100px 50px;
}

.editor-layout-col {
  margin: 5px;
  height: auto;
  min-height: 500px;
}

.fit-content {
  min-width: fit-content !important;
}

.editor-options-container {
  background-color: white;
}

.image-options-row {
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.image-options-row:hover {
  background-color: lightgrey;
}

.add-image-modal-container {
  padding: 20px !important;
  margin: 20px !important;
  border: 1px solid lightgrey !important;
  border-radius: 5px !important;
}

.textbox-row {
  padding: 10px;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
}

.textbox-row.active{
  background-color: gray;
}

.textbox-row:hover {
  background-color: lightgrey;
}

.image{
  width: '10%';
  height: undefined;
}

.template-card {
  width: 18rem;
  cursor: pointer;
}

.template-card.active {
  border: 3px solid black;
}