.meta {
    margin-left: 10px;
    flex-direction: column;
    text-align: left;
    display: flex;
}

.voting-container {
    display: flex;
    justify-content: space-between;
}
.meta h2,
.meta h4,
.meta .voting-container {
    /* Add some padding to the top and bottom of the elements */
    padding: 5px 0;
}